config.stopBubbling = true
lombok.equalsandhashcode.callsuper = CALL
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
#checkerframework = true

# default value is "log"
#lombok.log.fieldName = logger

# default value is "true"
#lombok.log.fieldIsStatic = false

#lombok.log.custom.declaration =

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
#lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAnySetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonValue
