config.stopBubbling = true
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
#lombok.var.flagUsage = ALLOW # uncomment for jdk version 8 or lower
