#config.stopBubbling = true
#lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = false
lombok.fieldDefaults.defaultFinal = false
lombok.addLombokGeneratedAnnotation = false
lombok.extern.findbugs.addSuppressFBWarnings = true
#lombok.var.flagUsage = ALLOW # uncomment for jdk version 9 or lower

#lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
#lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
#lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
#lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonValue
lombok.copyableAnnotations += com.epam.courses.java.fundamentals.oop.demo.lombok.MyAnnotation
